body{
	background: url(https://static.vecteezy.com/system/resources/previews/000/092/872/non_2x/vector-food-background-pattern.jpg);
}
img {
	height: 200px;
}
label{
	font-size: 30px;
	color: black;
	background-color: white;
	width: 30%;
}
#gif-input{
	border-bottom-width: 5px;
	width: 60%;
	background-color: white;
}
.btn{
	margin: 10px;
}
